.loginButton {
  padding: 23px 0px;
  background: #1565d8;
  border-radius: 6px;
  border: none;
  color: #ffffff;
  transition: opacity 0.2s ease;
  cursor: pointer;
  
  &:hover {
    opacity: 0.9;
  }
}
