.auth-section {
	display: flex;
	width: 100vw;
	max-height: 100vh;
}

.auth-left-div {
	flex: 5;
	width: 100%;
	overflow: hidden;
}

.auth-right-div {
	padding: 60px 80px;
	flex: 6;
	width: 100%;
}

.auth-nav-button {
	color: #8692a6;
}

.auth-outlet-div {
	width: 440px;
	margin: auto;
	margin-top: 50px;
}
