section {
	display: flex;
	width: 100vw;
	max-height: 100vh;
}

.left-div {
	flex: 5;
	width: 100%;
	overflow: hidden;
}

.right-div {
	padding: 60px 80px;
	flex: 6;
	width: 100%;
}

.nav-button {
	color: #8692a6;
}

.outlet-div {
	width: 440px;
	margin: auto;
	margin-top: 50px;
}
