:root {
	--backgroundPrimary: #292C3F;
	--button: #1565D8;
	--backgroundSecondary:

}
*,

html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	font-family: 'Inter', sans-serif;
}

* a {
	text-decoration: none;
	color: inherit;
}
