.landing-section {
	height: 90vh;
}
.landing-navbar {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

.landing-nav-buttons-div {
	display: flex;
	gap: 20px;
}

.landing-page-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 30px;
	align-items: center;
	justify-content: center;
}

.landing-text-div {
	width: 460px;
	text-align: center;
	flex: 2;
}
.landing-text-div p {
	padding-top: 12px;
	font-weight: 300;
	font-size: 1rem;
	color: #7d7987;
}

.landing-text-div h1 {
	font-size: 2rem;
}

.landing-image-div {
	width: 580px;
}
